.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.card-body {
    display:block;
}

.jumbotron {
    display: block;
    text-align: center;
}